@import '../styles/Globals/Global.scss';

#entry-row{

    
    // td{
    //   &:nth-child(n+3){
    //       text-align: right;
    //   }  
    // }

    #entry-symbol{
        color: $text-color;

        h4{
            text-transform: uppercase;
        }
        h3, h4{
            text-align: left;
            padding-left: 30%;
        }
    }

    td{
        font-family: $number-font;
        font-weight: 900;
    }
}