@import '../styles/Globals/Global.scss';

#entry-row{
    #entry-symbol{
        color: $text-color;

        h4{
            text-transform: uppercase;
        }
        h3, h4{
            text-align: left;
            padding-left: 30%;
        }
    }
}