@import '../styles/Globals/Global.scss';

#pagination-controller-ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;

    li{
        width: 10%;
        height: 10%;
        // margin: 1vw;
        cursor: pointer;

        &:first-child{
            div{
                border-radius: 40px 0px 0px 40px;
            }
        }

        &:last-child{
            div{
                border-radius: 0px 40px 40px 0px;
            }
        }

        div{
            // background: rgb(99, 28, 28);
            // border: 1px groove #000000;
            // border-radius: 5vw;
            padding: 0.25vh;

            transition: box-shadow 0.05s ease-in;


            &:hover{
                background: $heading-color !important;
                box-shadow: 3px 2px 10px -3px rgba(0,0,0,0.84);
            }
        }
    }
}

.unselected-div{
    background:white;
    border:1px groove black;
    border-right:none;
    
    &:last-child{
        border-right:1px groove black
    }
}

.selected-div{
    background:#dad7de;
    border:1px groove black;
    border-right:none;
    
    &:last-child{
        border-right:1px groove black
    }
}